{% extends 'base.html' %}

{% block content %}

<p>Author creation form.</p>

<form method="POST" action="{{ url_for('main.create_author') }}">
    {{ form.csrf_token }}
    <fieldset>
        <legend>Add a New Author</legend>

        {{ form.name.label }}
        {{ form.name(class="form-control") }}

        {{ form.biography.label }}
        {{ form.biography(class="form-control") }}

        <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
</form>

{% endblock %}
